menu "RunIT Kernel Configuration"

config CONNECT_TCA6424A
    bool "Connect TCA6424A"
    default y

config CONNECT_TCA6424A_MOCK
    bool "Connect TCA6424A I2C mock"
    default y

config CONNECT_INA3221
    bool "Connect INA3221"
    default n

config CONNECT_INA3221_INT_MOCK
    bool "Connect INA3221 I2C mock interrupts"
    default n

config CONNECT_TPS55289
    bool "Connect TPS55289"
    default y

config CONNECT_TPS55289_MOCK
    bool "Connect TPS55289 mock"
    default y

config CONNECT_TPS55289_MOCK
    bool "Connect TPS55289 mock"
    default y

config CONNECT_TPS55289_INT_MOCK
    bool "Connect TPS55289 mock interrupts"
    default y

endmenu
