menu "Callbacks System Options"
    config SYS_CB_QUEUE_LEN
        int "Callback Event Queue Length"
        default 16
        range 4 256
        help
          Queue capacity for callback event dispatcher.

    config SYS_CB_TASK_STACK_SIZE
        int "Callback Task Stack Size (bytes)"
        default 4096
        range 1024 32768
        help
          Stack size in bytes for callback task.

    config SYS_CB_TASK_PRIO
        int "Callback Task Priority"
        default 5
        range 1 24
        help
          Priority of callback task.

    config SYS_CB_ROUTE_COUNT
        int "Callback Route Table Slots"
        default 16
        range 1 16
        help
          Route table size (number of callback routing slots). See
          components/utils/Kconfig's "System-Wide Identity Assignments" for
          the individual route slot index assignments.
endmenu
